In [1]:
import glob
from datetime import datetime
from pandasql import sqldf
import pandas as pd
from ggplot import *
%matplotlib inline

pysqldf = lambda q: sqldf(q, globals())

In [2]:
file_list = glob.glob('nypd-sqf-data/*.csv')
cols = ['datestop', 'race']

temp_df = pd.DataFrame()
for file in file_list:
#     print("Loading into dataframe: ", file)
    frame = pd.read_csv(file, usecols=cols, na_values=' ', low_memory=False, nrows=20000)
    frame['total'] = len(frame)
    temp_df = pd.concat([temp_df, frame], ignore_index=True)


q = """
SELECT datestop, race, count(*) AS stops
FROM temp_df 
GROUP BY datestop, race
"""

df = pysqldf(q)
df.sample(5)

        datestop race  stops
4372  2006-12-16    Q      5
1040     1102013    I      5
1701     1192014    A      8
780      1072012    U     24
5419     3122004    B     50

In [3]:
# out_df = df.loc[(df.race == 'B') | (df.race == 'P') | (df.race == 'Q') | (df.race == 'W')].copy()

# out_df['race'] = out_df['race'].map({'B':'B','W':'W','P':'H','Q':'H'})

# out_df.race.unique()
out_df = df.copy()

In [4]:
add_zero = lambda x: str(x).zfill(8)
out_df['datetime'] = pd.to_datetime(out_df['datestop'].map(add_zero), format="%m%d%Y", errors='coerce')
out_df.loc[out_df['datetime'].isnull(),'datetime'] = pd.to_datetime(out_df.loc[out_df['datetime'].isnull(),'datestop'])

In [5]:
out_df = out_df.drop(['datestop'], 1)
out_df.sample(5)

     race  stops   datetime
4848    Q     39 2014-02-14
892     Z     10 2004-01-09
736     A     20 2007-01-07
4852    B     59 2004-02-15
1830    Q     27 2005-12-09

In [16]:
out_df['yearmonth'] = out_df['datetime'].map(lambda x: 100*x.year+x.month)

# out_df = out_df.groupby(['yearmonth', 'race'])['stops'].sum().reset_index()

# out_df = out_df.loc[(out_df.yearmonth > 200000)]

out_df = out_df.dropna(subset=['yearmonth'])
out_df = out_df.drop(['datetime'], 1)
out_df = out_df.loc[(out_df.yearmonth > 200000)]

In [27]:

tmp = out_df.groupby(['yearmonth', 'race'])['stops'].sum().reset_index()
tmp['yearmonth'] = tmp['yearmonth'].map(lambda x: str(int(x))+'01')

tmp.head()

  yearmonth race  stops
0  20030101    B   6413
1  20030101    H   4077
2  20030101    W   1642
3  20030201    B   5110
4  20030201    H   3283

In [29]:
for month in tmp.yearmonth.unique():
    tmp.loc[(tmp.yearmonth == month), 'mtotal'] = sum(tmp.loc[(tmp.yearmonth == month), 'stops'])

tmp.head()

  yearmonth race  stops  mtotal
0  20030101    B   6413   12132
1  20030101    H   4077   12132
2  20030101    W   1642   12132
3  20030201    B   5110    9735
4  20030201    H   3283    9735

In [30]:
tmp['prop'] = tmp['stops']/tmp['mtotal']

tmp = tmp.drop(['stops', 'mtotal'], 1)
tmp.head()

  yearmonth race      prop
0  20030101    B  0.528602
1  20030101    H  0.336053
2  20030101    W  0.135345
3  20030201    B  0.524910
4  20030201    H  0.337237

In [31]:
tmp.to_csv('test.csv')